.create-account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
  }
  
  .create-account-container h2 {
    color: #32CD32; /* Lime Green */
  }
  
  .form-field {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 8px;
    color: #32CD32; /* Lime Green */
  }
  
  .form-field input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #32CD32; /* Lime Green */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #28a745;
  }

.action-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.action-buttons button {
  flex-grow: 1; /* Allows buttons to grow and fill the space */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; 
  font-weight: bold; 
}

/* Back button */
.action-buttons button:first-child {
  background-color: #f44336;
  color: white;
  margin-right: 10px;
}

/* Create Account button */
.action-buttons button:last-child {
  background-color: #32CD32; 
  color: white;
}
