.signup-container {
  width: 100%;
  max-width: 600px;
  background-color: white;
  margin: 80px auto;
  padding: 0px;
  border-radius: 15px;
  box-shadow: 0 64px 64px rgba(0, 0, 0, 0.4);
  color: #333;
  text-align: center;
  outline: 2px solid #636363;
  opacity: .9;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
  
  .signup-page-background {
    background-image: url('../../src/Images/BACKGROUND_LOGIN2.png'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh; 
    
}

.container-background {
  background-color: white;
}