.login-container {
  width: 100%;
  max-width: 600px;
  background-color: white;
  margin: 80px auto;
  padding: 0px;
  border-radius: 15px;
  box-shadow: 0 64px 64px rgba(0, 0, 0, 0.4);
  color: #333;
  text-align: center;
  outline: 2px solid #636363;
  opacity: .9;
  position: absolute; /* Make the container positioned absolutely */
  top: 35%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset the container by half its width and height */
}
  
  .login-page-background {
    background-image: url('../../src/Images/BACKGROUND_LOGIN.png'); /* Adjust the path as necessary */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image in the container */
    background-repeat: no-repeat; /* Do not repeat the image */
    min-height: 100vh; /* Ensure it covers the full viewport height */
    
}

.container-background {
  background-color: white;
}



  h2 {
    
    margin-bottom: 20px;
    color: #32CD32; /* Lime Green */
    font-weight: 600;
  }
  
  .login-form {

    display: flex;
    flex-direction: column;
  }
  
  .input-container {
  
    margin-bottom: 20px;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #555;

    text-align: left;
  }
  
  .input-container input {
    
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .submit-container {
    
    margin-top: 25px;
  }
  
  .login-button {
    
    padding: 12px 15px;
    width: 100%;
    background-color: #32CD32; /* Lime Green */
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .login-button:hover {
    background-color: #28a745; /* Darker Green */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .create-account-link {
    
    display: block;
    margin-top: 15px;
    background-color: #f44336; /* Red for contrast */
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
  }